<style>
  .modal-dialog {
      padding-top: 25%;
  }
  .modal-content {
    background-color: #f7f7f7 !important;
    padding: 0;
    float: left;
    margin-top: -25%;
    width: initial;
    border: none !important;
    border-radius: 2px !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
  }
  
  
  @media (min-width: 800px) {
      .modal-dialog {
          width: 750px !important;
      }
  
      .modal-content {
          width: 100%;
          border: none;
      }
  }
  
  @media (min-width: 993px) {
      .modal-content {
          padding: 0;
          float: left;margin-top: -30%;
          /*transform: translateY(-50%);*/
      }   
  }
  </style>
  
  <div class="profile profileCoverImg" id="profile_image_modal">
   
    <div class="modal-header"> 
      <input name="user_id" id="user_id" value="13883" type="hidden"> 
      <button type="button" class="close" ng-click="closemodel()" aria-hidden="true">×</button>
      <h4 class="modal-title">Upload Cover Image</h4>
    </div>
  
    <div class="modal-body pro_pic_edit_box_content_body">
    
      <div class="profile-upload-data" style="color:#505050;">
     
      </div>						
    
  
      <div class="row">
        <div class="col-lg-9">
          <div >
              <input type="file" img-cropper-fileread image="cropper.sourceImage" />
              <div>
                   <canvas width="500" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
              </div>
              <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>
              <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
          </div>
        </div>
        
      </div>
      <noscript> 
        <p>Please enable JavaScript to use file uploader.</p>
       
      </noscript>
    </div>
  
    <div id="Error_m" class="mr-bottom-5"></div>
  
    <div class="modal-footer pro_pic_edit_box_content_footer" onclick="timeout()">
      <button type="submit" ng-click="uploads(cropper.croppedImage)" class="btn btn-primary image-save">Done</button>
      <button type="button" class="btn btn-default"  ng-click="closemodel()">Cancel</button>
    </div>
  
   
  
   
  </div>