<style>

    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:500px;
      height:350px;
    }
    
    
    
    </style>
    
    <div class="modal-content pro_pic_edit_box_content" id="profile_image_modal">
       
    <form role="form" name="frmprofileimageupload" id="frmprofileimageupload" class="frmprofileimageupload" action="Ajax_Profile_Info/profile_image" >
    <div class="modal-header pro_pic_edit_box_content_header"> 
    <input name="user_id" id="user_id" value="13883" type="hidden"> 
    <button type="button" class="close" ng-click="closemodel()" aria-hidden="true">×</button>
    
    <h4 class="modal-title">Confirmation</h4>
    </div>
    <div style="padding:15px 20px;font-weight600;font-size:18px;color:#505050;">Make sure you're looking your best...</div>
    <div class="modal-body pro_pic_edit_box_content_body">
    
    <div class="profile-upload-data" style="color:#505050;">
        <input  type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1 " ngf-select ng-model="picFile" accept="image/*" ngf-pattern="'.jpg,.png,.jpeg,'" ngf-resize="{quality: 0.3}"  />
       
    </div>						
    
    
    <div class="row">
    <div class="col-lg-9">
            <div ngf-drop ng-model="myCroppedImage" ngf-pattern="image/*" class="cropArea col-xs-12">
                <img-crop image="picFile  | ngfDataUrl" area-type="square" result-image-quality="0.4"
                 result-image="croppedDataUrl"  > </img-crop>
               
                
                
              </div>
    </div>
    
    <noscript> 
    <p>Please enable JavaScript to use file uploader.</p>
    <!-- or put I could put an upload form here -->
    </noscript>
    </div>
    <div id="Error_m" class="mr-bottom-5"></div>
    <div class="modal-footer pro_pic_edit_box_content_footer" onclick="timeout()">
    <button type="submit" id="done-profile-image" disabled="" class="btn btn-primary image-save">Done</button>
    <button type="button" class="btn btn-default"  ng-click="closemodel()">Cancel</button>
    </div>
    
                    </div>